<header class="p-4 mb-3 border-bottom" id="header">
    <div class="container">
      <div class="d-flex align-items-center justify-content-center justify-content-lg-start">

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-md-0">
          <li><a href="/" class="nav-link px-2 link-light"><strong>Time Tracker</strong></a></li>
        </ul>

        <div class="dropdown text-end">
          <a href="#" class="d-block link-light text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="/assets/user.png" alt="mdo" width="32" height="32" class="rounded-circle">
          </a>
          <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
            <li><h6 class="dropdown-header"><%= username %></h6></li>
            <li><p class="dropdown-header"><%= email %></p></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/logout">Logout</a></li>
          </ul>
        </div>
      </div>
    </div>
  </header>