<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/header.ejs") %>
    <title>Login</title>
</head>
<body>
    <div class="container">
      <div class="modal-box">
        <% if (success && success.length > 0) { %>
          <div class="alert alert-success my-3 flash-message" role="alert"><i class="fas fa-check-circle"></i>&nbsp;&nbsp;<%= success %> </div>
        <% } %>
          <h1 class="mb-4">Login</h1>
          <form action="/login" method="POST">
              <div class="mb-3">
                <input type="email" class="form-control" required id="login-email" name="email" placeholder="Indirizzo email">
              </div>
              <div class="mb-4">
                <input type="password" class="form-control" required id="login-password" name="password" placeholder="Password">
              </div>
              <button type="submit" class="btn btn-success"><strong>Login</strong></button>
              <% if (error && error.length > 0) { %>
                <div class="alert alert-danger mt-3 flash-message" role="alert"><i class="fas fa-times-circle"></i>&nbsp;&nbsp; <%= error %> </div>
              <% } %>
              <div class="mt-3">
                  Se non hai ancora un account <a href="/register">Registrati</a>
              </div>
            </form>
      </div>
    </div>
<%- include("./partials/footer.ejs") %>