body{
    font-family: "Open Sans", sans-serif;
    min-height:100vh;
    display: flex;
    flex-direction: column;
    background-color:#212529;
}
#header{
    background-color:#181818;
    border-bottom:1px solid #696969!important;
    margin-bottom:40px!important;
}
#dashboard-main-content{
    color:#fff;
}
.footer{
    margin-top:auto;
    border-top:1px solid #dee2e6;
    color:#fff;
}
.modal-box{
    width:500px;
    padding:20px;
    background-color:#eee;
    border-radius:15px;
    border:1px solid #aaa;
    margin:50px auto;
}
.modal-box input.form-control{
    box-shadow:0px 0px 6px -2px rgba(0,0,0,.4);
    padding:10px;
}
#all-projects{
    font-size:20px;
}
.timer-control i{
    display:block;
    color:#fff;
}
.timer-control{
    background-color: #212529;
    padding: 12px;
    border: 0;
    border-radius: 50%;
}
.project-timer span{
    font-weight:700;
    background-color: #212529;
    padding: 8px 12px;
    font-size:18px;
}
.active-timer td{
    background-color:#e7f1ff;
}
.accordion-button:not(.collapsed){
    color:#212529!important;
    background-color:transparent!important;
}
.accordion-button:not(.collapsed)::after{
    background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e")!important;
}
.accordion-button:focus{
    border-bottom:1px solid #ddd!important;
    box-shadow:none!important;
}
#all-tracks table td, #all-tracks table th{
    padding:15px 10px 15px 20px;
    font-size: 18px;
}
#all-tracks table th{
    border-bottom:2px solid #222;
}
#project-color{
    display:inline;
    margin-left:10px;
}
.crud-track{
    padding: 0;
    background-color: transparent;
    border: 0;
}
.crud-track i{
    color:#000!important;
}
.update-track label{
    color:#222!important;
    margin-bottom:5px;
}
#all-projects-container{
    background-color:#fff;
    color:#222;
    padding:20px;
    border-radius:5px;
}
.pagination .active>.page-link{
    background-color:#181818!important;
    color:#fff!important;
    border-color:#181818!important;
}
.pagination li:not(.disabled) .page-link{
    color:#181818;
}
.pagination .page-link:focus{
    box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.25)!important;
}


@media only screen and (max-width: 480px){
    .modal-box{
        width:100%;
    }
    #all-tracks .track-wrap{
        overflow:auto;
    }
    .mobile-mrg{
        margin-bottom:20px;
    }
    #all-projects td:not(.mobile-timer-alignment){
        display:block;
    }
    #all-projects td:nth-child(2){
        text-align:center;
    }
    #project-color{
        display:block;
        margin-left:0;
    }
}